@model CreatedAndUpdatedBookDTO

<h1>Register New Book</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="BookCreate">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Published" class="control-label"></label>
                <input asp-for="Published" class="form-control" />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input asp-for="IsAvailable" class="form-check-input" />@Html.DisplayNameFor(book => book.IsAvailable)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div class="">
    <a asp-action="BookIndex">Back to all books</a>
</div>